{%extends 'layouts/base.njk' %}
{% block extraStyle %}


{%endblock%}

{%block main%}
<div class="flex-container">

            <div class="flex-container--column half">
                <div class="greeting-card">
                    <div class="message">{{item.data.riddle}}</div>
                    <img style="width: 100%;" src="{{item.data.imageLink}}" />
                </div>
            </div>
          </div>
{%endblock%}