---
    title: Riddlr
    layout: layouts/base.njk
---

{% block main %}
<div class="flex-container">


    <form name="greeting-card" method="POST" action="/new" class="flex-container riddlr-form" >
        <div class="riddlr-hat">
            {%include "svg/riddlr-hat.svg"%}
        </div>
        <div class="greeting-form">
                <p>
                    <label for="message">Your Riddle</label>
                    <textarea cols="24" rows="10" id="riddle" name="riddle"></textarea>
                </p>
                <p>
                    <label for="image">Image</label>
                        <input id="image-upload" type="file" name="image" acccept="image/*" />
                        <input id="image-link" type="hidden" name="imageLink" />
                        <img style="display: none; width: 100%; max-width: 500px;" id="image-preview" />
                </p>
                <p>
                    <div id="loading" style="display:none; margin-bottom: 5px;">Uploading picture...</div>
                    <input id="submit-btn" type="submit" value="GET MY QR CODE">
                </p>
        </div>
    </form>
</div>
{% endblock %}

{% block scripts %}
{%set js%}
{% include "js/core.js" %}
{% include "js/fileUploader.js" %}
{% endset %}
<script> {{js | safe}} </script>
{% endblock %}
