---
    title: Foos invite
    layout: layouts/base.njk
---
<div style="display:flex; justify-content:center;"> 
<h1>No riddl for you :(</h1>
</div>

<div style="display:flex; justify-content:center;"> 
<a href="/">Maybe you should create one?</a>
</div>